body {
    background-color:#401f68;
    color: white;

}

.giphyCall {
    background-color: #4e2a84;
    color: white;
    border: 2px solid #b6acd1;

}

#giphySubmit {
    background-color: #4e2a84;
    color: white;
    border: 2px solid #b6acd1;
    margin: 5px 10px 5px 10px;
    border-radius: .25rem;
    padding: .375rem .75rem;
}
#giphyBtnMkr {
    color: #b6acd1;
}

img {
    width: 225px;

}

/* 
purple is #401f68;
light purple is #4e2a84;
light grey is #b6acd1; */
